__pycache__
build
dist
*.egg-info
*pyc
*.log
*.substvars
*.debhelper
*.pybuild

*.swp
# the dependencies deb
*.deb
.ropeproject
.coverage
cover
*~
.tox
tmp
debian/files
debian/openstack-landscape
debian/openstack-multi
debian/openstack-single
debian/openstack/
